body {
  font-family: Arial, sans-serif;
  background-color: #a70f0a;
  margin: 0px;
  padding: 0px;
}

.number {
  background-color: rgb(69, 197, 240);
  text-align: center;
  border-radius: 10px;
  font-weight: bold;
  /* margin: 10px; */
  border: 3px green solid;
  padding: 12px;
  border: 3px green solid;
}

.myContainer {
  display: grid;
  width: 80%;

  grid-template-columns: 25% 55% 25%;
  grid-template-rows: 100px 300px 200px 50px 300px;
  grid-gap: 30px;
}